@import "addons.scss";
@import "mytheme.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in mytheme.scss */
.mytheme {
    @include addons;

    // Include mytheme theme styles in your theme
    @include mytheme;

    .layoutBackground{
        background-image: url("../backg.jpg");
    }

    .labelTitles{
        color: #07770a;
        font-family: Arial Black;
        font-size: 20px !important;
    }

    .labelTempNumb{
        color: #0099FF;
        font-family: Arial Black;
        font-size: 15px !important;
    }
    
    .labelTempDesc{
        color: #0099FF;
        font-family: Arial Black;
        font-size: 15px !important;
    }
    
    .v-caption-text{
        color: #0099FF;
        font-family: Arial Black;
        font-size: 15px !important;
    }
    
    text.highcharts-tittle{
        color: #0099FF;
        font-family: Arial Black;
        font-size: 15px !important;
    }
    
    .helado{
        color: #0033CC;
    }
    
    .frio{
        color: #0066FF;
    }
    
    .fresco{
        color: #0099FF;
    }
    
    .templado{
        color: #00CCFF;
    }
    
    .caluroso{
        color: #FFCC00;
    }
    
    .muycaluroso{
        color: #FF6600;
    }
    
    .v-tabsheet-tabitem .v-caption{
        color: #07770a !important;
        font-family: Arial Black;
        font-size: 28px !important;
    }

    .v-tabsheet-tabitem-selected .v-caption{
        color: yellowgreen !important;
        border-bottom-color: yellowgreen !important;
    }

    .v-tabsheet-tabitem .v-caption:hover{
        color: yellowgreen !important;
    }

    .v-tabsheet-tabcontainer td {
        padding-left: 9%;
    }

    .v-slot-sideStyle{
        width: 12% !important;
    }

    .v-slot-mainStyle{
        width: 90%;
    }
    .titulo{
        padding-bottom: 1%;
        padding-left: 38%;
        text-align: center;
        width: 60%;
    }

    .v-tabsheet{
        background-color: white !important;
    }

    .v-table-header {
        color: white;
        background: #07770a;
        font-weight: bold;
        text-align: center;
    }

    .v-caption-tableStyle{
        color: #07770a;
        font-family: Arial Black;
        font-size: 20px !important;
    }

    .v-table {
        background: rgb(199,252,200);
    }

    .v-table-row:hover, .v-table-row-odd:hover {
        color: yellowgreen;
        background: #009999;
    }

}

